nav{
    color: white;
    padding: 30px 60px;
    background-color: #254F6E;
    display: flex;
    justify-content: space-between;
}
nav h4{
    font-size: 60px;    
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav li{
    list-style: none;
}
nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
}
nav li a:hover{
    color: lightblue;
}
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardcontainer {
    padding: 2px 16px;
}